#contact {
  .contact-list {
    padding: 20px 0;

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-between;
      align-self: flex-end;
      width: 560px;
      max-width: 100%;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    }

    li {
      text-align: center;

      a {
        color: $text_color;
      }

      img {
        height: 60px;
        margin: 0 auto 5px;
        &:hover {
          transform: scale3d(1.03, 1.03, 1.03);
          + .contact-list-desc {
            visibility: visible;
          }
        }
      }
    }
  }

  .contact-list-desc {
    font-weight: bold;
    visibility: hidden;
  }

  .contact-icon {
    min-width: 80px;
  }

  @include mq_down() {
    .contact-list ul {
      justify-content: center;
      width: 100%;
    }
    .contact-list-desc {
      font-size: 12px;
    }
  }
}
