#contact {
  .contact-list {
    padding: 20px 0;

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-between;
      align-self: flex-end;
      width: 40%;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    }

    li {
      text-align: center;

      a {
        color: $text_color;
      }

      img {
        width: 60px;
        margin: 0 auto 5px;
      }
    }
  }

  .contact-list-desc {
    font-weight: bold;
  }

  @include mq_down() {
    .contact-list ul {
      width: 100%;
    }
    .contact-list li {
      flex-basis: 30%;
      img {
        width: 30px;
      }
    }
    .contact-list-desc {
      font-size: 12px;
    }
  }
}
