#gnav {
  z-index: 1;
  padding: 10px;
  font-family: $morisawa_font, sans-serif;

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  li {
    padding: 0 20px;
    font-weight: bold;
    font-size: 18px;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $text_color;
      letter-spacing: -0.01em;
    }
  }

  &.fixed {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $bg_color;
    -webkit-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0);
  }

  @include mq_down() {
    li {
      padding: 0 10px;
      font-size: 14px;
      a:hover {
        opacity: 1;
      }
    }
  }
}
