#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/header/house.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  .logo {
    display: block;
    text-align: center;
  }

  .logo-title {
    color: $bg_color;
    font-size: 94px;
    font-family: $morisawa_font, sans-serif;
    line-height: 1;
    letter-spacing: -2px;
  }

  .logo-desc {
    display: block;
    margin-top: 5px;
    color: #ffb6b5;
    font-size: 16px;
    text-align: center;
  }

  @include mq_down() {
    .logo-title {
      font-size: 32px;
    }
    .logo-name {
      top: 0;
      left: -30px;
      font-size: 25px;
    }
    .logo-desc {
      font-size: 11px;
    }
  }
}
