#profile {
  .two-column-image {
    width: 33%;
  }

  .two-column-desc {
    width: 62%;
  }
  @include mq_down() {
    .two-column-wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
    }
    .two-column-image {
      width: 50%;
      margin: 0 auto 20px;
    }
    .two-column-desc {
      width: 100%;
    }
  }
}
