#footer {
  background-color: #333;
}

#footer .inner {
  padding: 30px;
}

#footer .footer-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  margin-bottom: 30px;
}

#footer .footer-link li {
  padding: 0 20px;
  font-size: 12px;
}

#footer .footer-link li a {
  color: #fff;
  font-weight: bold;
}

#footer .copyright {
  color: #8c8c8c;
  font-size: 10px;
  text-align: center;
}
