#footer {
  background-color: #333;
  .inner {
    padding: 30px;
  }

  .footer-link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }

  .footer-link li {
    padding: 0 20px;
    font-size: 12px;

    a {
      color: #fff;
      font-weight: bold;
    }
  }

  .copyright {
    color: #8c8c8c;
    font-size: 10px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .inner {
      padding: 20px 0;
    }
    .footer-link li {
      margin-bottom: 5px;
      padding: 0 10px;
      font-size: 10px;
    }
  }
}
