#gnav {
  z-index: 100;
  padding: 10px;
  font-family: 'Open sans', sans-serif;
}

#gnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#gnav li {
  padding: 0 20px;
  font-weight: bold;
  font-size: 18px;
}

#gnav li:last-child {
  margin-right: 0;
}

#gnav li a {
  color: #333;
  letter-spacing: -0.01em;
}

#gnav.fixed {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0);
}
