@import 'values', 'mixin', 'reset', 'header', 'latestworks', 'works', 'profile',
  'skill', 'contact', 'footer', 'modal', 'gnav';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $text_color;
  font-size: 15px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
    '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体', YuGothic,
    'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.8;
  letter-spacing: 0.8px;
  word-break: break-word;

  @include mq_down() {
    body {
      font-size: 13px;
      line-height: 1.7;
    }
  }
}

a {
  color: #1ca9e3;
  text-decoration: none;
  &:hover,
  &:hover img {
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}

img,
video,
object {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}

ul,
li {
  list-style: none;
}

#wrapper {
  background-color: #f3f3f3;
}

.inner {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

#contents {
  padding: 100px 0;
  @include mq_down() {
    padding: 40px 0;
  }
}

.section {
  .inner {
    padding: 80px 10px;
  }

  .section-title-block {
    margin-bottom: 30px;
    text-align: center;
  }

  .section-title {
    display: inline-block;
    margin-bottom: 10px;
    color: $main_color;
    font-weight: bold;
    font-size: 56px;
    font-family: $morisawa_font, sans-serif;
    letter-spacing: -0.01em;
  }

  .section-desc {
    text-align: center;
  }

  @include mq_down() {
    .inner {
      padding: 30px 15px;
    }
    .section-title-block {
      margin-bottom: 10px;
    }
    .section-title {
      font-size: 36px;
    }
  }
  .two-column-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }

  .two-column-image {
    width: 33%;
  }

  .two-column-image img {
    margin: 0 auto;
  }

  .two-column-desc {
    width: 62%;
  }
}

.hidden-less-sm {
  @include mq_down() {
    display: none !important;
  }
}
.hidden-less-md {
  @include mq_down(md) {
    display: none !important;
  }
}
.hidden-more-sm {
  @include mq_up() {
    display: none !important;
  }
}
.hidden-more-md {
  @include mq_up(md) {
    display: none !important;
  }
}
