.section {
  .inner {
    padding: 80px 10px;
  }

  .section-title-block {
    margin-bottom: 30px;
    text-align: center;
  }

  .section-title {
    display: inline-block;
    margin-bottom: 10px;
    color: $main_color;
    font-weight: bold;
    font-size: 56px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.01em;
  }

  .section-desc {
    text-align: center;
  }
}

.two-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.two-column-image {
  width: 33%;
}

.two-column-image img {
  margin: 0 auto;
}

.two-column-desc {
  width: 62%;
}
