#skill {
  .card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }

  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-basis: 46%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 50px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    &:first-child {
      flex-basis: 100%;
    }
  }

  .w__skill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: {
      top: 24px;
    }
  }
  .skill-icon {
    padding: {
      right: 24px;
      left: 24px;
    }

    img {
      max-height: 100px;
    }
  }

  @media screen and (max-width: 767px) {
    .card-wrapper {
      width: 100%;
    }
    .card {
      flex-basis: 100%;
    }
    .w__skill {
      padding: {
        top: 8px;
      }
    }
    .skill-icon {
      padding: {
        right: 8px;
        left: 8px;
      }

      img {
        max-height: 42px;
      }
    }
  }
}
