#works .card {
  width: 32%;
}

#works .card {
  margin-bottom: 50px;
}

#works .card-image {
  display: block;
  margin-bottom: 8px;
}

#works .card-caption-title {
  font-size: 13px;
  font-weight: bold;
}

#works .card-caption-info {
  font-size: 12px;
}

#works .card-caption-url {
  font-size: 10px;
}

#works .card-wrapper {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
