#works {
  .card {
    width: 32%;
    margin-bottom: 50px;
  }

  .card-image {
    display: block;
    margin-bottom: 8px;
  }

  .card-caption-title {
    font-weight: bold;
    font-size: 13px;
  }

  .card-caption-info {
    font-size: 12px;
  }

  .card-caption-url {
    font-size: 10px;
  }

  .card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }

  @media screen and (max-width: 767px) {
    .card {
      width: 48%;
    }
    .card-caption-title {
      font-size: 12px;
    }
    .card-caption-info {
      font-size: 11px;
    }
  }
}
